undo/
saves/
eshell/
/tramp
/recentf
elpa/
auto-save-list/
.python-environments/
irony/
/anaconda-mode
/elpy/
/projectile-bookmarks.eld
/projectile.cache
/transient/
/network-security.data
/elixir/
/image-dired/
/eln-cache/
/forge-database.sqlite
/.cache/
/eclipse.jdt.ls/
